button {
    border-radius: 5px;
    background: white;
    color: black;
    border: 1px solid black;
    font-size: 1.4em;
    background-size: 50px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    &.btn-dirt {
        background: rgb(106, 213, 255);
        background: linear-gradient(180deg, rgba(106, 213, 255, 0.36262254901960786) 0%, rgba(0, 0, 0, 0.3287289915966386) 0%);
        // background-image: url('../../assets/textures/dirt-background.webp');
        border-color: var(--brown-mid);
        font-size: 1.4em;
        background-size: 50px;
        color: white;

        &:hover {
            border-color: var(--brown-mid);
            background: var(--brown-light);
        }

        &:active {
            background: var(--brown-dark)
        }
    }

    &.icon {
        background: none;
        border: none !important;
        font-size: 0.9em;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 5px;

        padding: 5px 20px;

        span {
            @media (max-width: 600px) {
                display: none;
            }
        }

        &.edit {
            // background-color: var(--orange-light);
            color: var(--orange-light);

            &:hover {
                background: var(--orange-dark);
            }
        }

        &.del {
            color: red;

            &:hover {
                background: rgb(255, 54, 54);
                color: white;
            }
        }

        &.dirt {
            color: white;
            background-color: var(--brown-dark);
            border: var(--brown-mid) solid 2px;

            &:hover {
                background: var(--brown-light);
                color: white;
            }
        }

        &.close {
            color: white;
            font-size: 1em;
            padding: 0;
            width: 50px;

            &:hover {
                background: rgb(255, 54, 54);
            }
        }
    }

    .icon-only {
        padding: 0;
        margin: 0;

        i {
            width: 100%;
        }
    }



    // &.tiny{
    //     display: flex;
    //     flex-direction: row;
    //     justify-content: center;
    // }
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;

    &.actions {
        font-size: 1.6em;
        justify-content: flex-end;
    }

    button {
        border-radius: 5px;
    }
}

.actions-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--green-dark);
    border-radius: 5px;
    width: 100%;
    padding: 3px 15px;

    @media (max-width: 600px) {
        padding: 3px 10px;
    }
}