button {
    border-radius: 5px;
    background: white;
    color: black;
    border: 1px solid black;

    &.btn-dirt {
        background: none;
        background-image: url('../../assets/textures/dirt-background.webp');
        border-color: var(--brown-mid);
        font-size: 1.4em;
        background-size: 50px;

        &:hover {
            border-color: var(--brown-mid);
            background: var(--brown-light);
        }

        &:active {
            background: var(--brown-dark)
        }
    }

    &.icon {
        background: none;
        border: none !important;
        font-size: 0.9em;

        &.edit {
            // background-color: var(--orange-light);
            color: var(--orange-light);


            &:hover {
                background: var(--orange-dark);
            }
        }

        &.del {
            color: red;

            &:hover {
                background: rgb(80, 0, 0);
            }
        }
    }



    // &.tiny{
    //     display: flex;
    //     flex-direction: row;
    //     justify-content: center;
    // }
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
}