.seed-modal {
    // border: solid 20px brown;
    border-radius: 10px;
    height: 100vh !important;
    width: 40vw !important;
    min-width: 400px !important;

    &.effects{
        // opacity: 0.3;
    }

    mat-dialog-container{
        padding: 0;
        border-radius: 0px;

        .mat-mdc-dialog-surface {
            border-radius: 0;
            background-color: var(--green-light);
        }
    }
}

.seed-modal-detail{
    @extend .seed-modal;
    width: 90vw !important;
}

.mat-mdc-dialog-surface{
    padding: 15px;
}

.modal-title {
    background: var(--green-dark);
    color: var(--white-mid);
    border-radius: 5px;
    padding: 0 10px;

    margin-bottom: 10px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    p{
        margin: 0;
    }
}