.popcorn{
    width: 6vh;
    height: 6vh;
    position: absolute;
    top: var(--mMax);
    left: var(--mMax);

    animation: explode 1s ease-in forwards;

    background: var(--white-light);
    clip-path: polygon(14% 23%, 13% 11%, 25% 10%, 35% 13%, 42% 12%, 60% 10%, 76% 11%, 82% 16%, 82% 24%, 73% 29%, 63% 31%, 68% 37%, 76% 44%, 80% 50%, 80% 57%, 72% 61%, 60% 62%, 54% 62%, 51% 54%, 47% 57%, 47% 62%, 50% 67%, 55% 75%, 54% 81%, 42% 82%, 34% 82%, 25% 80%, 21% 75%, 21% 70%, 24% 67%, 28% 63%, 25% 51%, 14% 50%, 7% 47%, 5% 38%, 3% 30%, 11% 30%, 22% 30%, 25% 34%);
}