<div class="container-fluid" *ngIf="seed">
    <div class="row">
        <div class="col col-lg-12">
            <h2 class="modal-title">
                {{seed.name}}
                    <button class="icon close" (click)="close()"><i class="bi bi-x"></i></button>
            </h2>
        </div>
        <div class="col-12 col-lg-6 ">
            <div class="pot-container-div">
                <div class="pot-container">
                    <img [src]="imageLink" class="fotoPlanta" alt="">
                    <div class="pot-top">
                    </div>
                    <div class="pot-base">
                    </div>
                </div>
            </div>

        </div>
        <div class="col-12 col-lg-6">
            <h5 class="description-container">
                {{seed.description}}
            </h5>
        </div>

    </div>
    <div class="row">
        <div class="col">
            <app-model-viewer *ngIf="model" [model]="model"></app-model-viewer>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="actions-container">
                <h5 class="modal-subtitle">
                    Acciones
                </h5>
                <div class="buttons actions">
                    <button class="icon edit" (click)="editSeed()"><i
                            class="bi bi-pencil"></i><span>Editar</span></button>
                    <button class="icon del" (click)="delSeed()"><i
                            class="bi bi-trash"></i><span>Eliminar</span></button>
                </div>
            </div>
        </div>
    </div>
</div>