<div class="container-fluid" *ngIf="seed">
    <div class="row">
        <div class="col col-lg-12">
            <h2 class="modal-title">
                {{seed.name}}
            </h2>
        </div>
        <div class="col-12 col-lg-6 pot-container-div">
            <div class="pot-container">
                <img [src]="imageLink" class="fotoPlanta" alt="">
                <div class="pot-top">
                </div>
                <div class="pot-base">
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-6">
            <h5 class="description-container">
                {{seed.description}}
            </h5>
        </div>

    </div>
    <div class="row">
        <div class="col">
            <app-model-viewer *ngIf="model" [model]="model"></app-model-viewer>
        </div>
    </div>
</div>