<pot [seedData]="seedData">
    <div class="dragon-container">
        <div class="row">
            <div class="spike"></div>
            <div class="spike"></div>
            <div class="spike"></div>
        </div>

        <div class="row">
            <div class="spike"></div>
            <div class="spike"></div>
            <div class="spike"></div>
        </div>

        <div class="row">
            <div class="spike"></div>
            <div class="spike"></div>
            <div class="spike"></div>
            <div class="spike"></div>
            <div class="spike"></div>
            <div class="spike"></div>
        </div>

        <div class="row">
            <div class="spike"></div>
            <div class="spike"></div>
            <div class="spike"></div>
            <div class="spike"></div>
            <div class="spike"></div>
        </div>

        <div class="row">
            <div class="spike"></div>
            <div class="spike"></div>
            <div class="spike"></div>
            <div class="spike"></div>
        </div>

        <div class="row">
            <div class="spike"></div>
            <div class="spike"></div>
            <div class="spike"></div>
            <div class="spike"></div>
        </div>

        <div class="row">
            <div class="spike"></div>
            <div class="spike"></div>
            <div class="spike"></div>
            <div class="spike"></div>
            <div class="spike"></div>
            <div class="spike"></div>
        </div>
    </div>
</pot>