<h2 class="modal-title">
    <p *ngIf="!edit">Nueva planta</p>
    <p *ngIf="edit">Editar planta</p>
</h2>
<div class="formulario">
    <form (ngSubmit)="sendSeed()" [formGroup]="form">
        <!-- <div class="mb-3">
            <label for="" class="form-label">Efecto</label>
            <select class="form-select" name="" id="" formControlName="type" placeholder="Selecciona un tipo">
                <option *ngFor="let item of seedOptions; index as i" [value]="item.type"
                    [selected]="i === 1 ? 'selected' : ''">{{item.name}}</option>
            </select>
        </div> -->

        <div class="mb-3">
            <label for="" class="form-label">Nombre</label>
            <input type="text" class="form-control" name="" id="" aria-describedby="helpId"
                placeholder="Nombre de la planta" formControlName="name" />
        </div>
        <div class="">
            <label for="" class="form-label">Descripción</label>
            <textarea matInput class="textarea" cdkTextareaAutosize formControlName="description" maxlength="900"
                placeholder="Descripción de la semilla (opcional)" id=""></textarea>
        </div>

        <div class="d-grid gap-2 mb-3">
            <label for="" class="form-label">Foto</label>
            <dropzone (imageEmitter)="setImage($event)"></dropzone>
        </div>

        <div class="d-grid gap-2 mb-3">
            <label for="" class="form-label">Modelo 3d</label>
            <dropzone [type]="1" (imageEmitter)="setImage($event, 1)"></dropzone>
        </div>

        <div class="d-grid gap-2">
            <button type="button" name="" id="" (click)="openEffects()" class="btn submit">
                Efecto
            </button>
        </div>

        <div class="d-grid gap-2">
            <button type="submit" name="" id="" class="btn submit">
                Enviar
            </button>
        </div>

    </form>

</div>




<!-- <div class="container-fluid">
    <div class="row">
        <div class="col-3" *ngFor="let seed of seeds">

            <div class="card">
                <img class="card-img-top" src="{{seed.foto}}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">{{seed.nombre}}</h5>
                    <p class="card-text">{{seed.descripcion}}</p>
                    <button class="btn btn-danger" (click)="delSeed(seed.id)">Borrar semilla</button>
                </div>
            </div>

        </div>
    </div>
</div> -->