<ng-container *ngFor="let seed of seeds">
    
</ng-container>

<button class="btn btn-success" (click)="sendSeed()">ENVIAR SEMILLA</button>

<div class="container-fluid">
    <div class="row">
        <div class="col-3" *ngFor="let seed of seeds">

            <div class="card">
                <img class="card-img-top" src="{{seed.foto}}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">{{seed.nombre}}</h5>
                    <p class="card-text">{{seed.descripcion}}</p>
                </div>
            </div>

        </div>
    </div>
</div>