img.logo{
    width: 100%;
    height: auto;
    
    max-width: 300px;
    filter: drop-shadow(5px 5px #565656);

    animation:appearLogo 1.8s ease-out;
}

@keyframes appearLogo {
    0%{
        margin-top: -100vh;
    }

    90%{
        margin-top: -100vh;
    }

    100%{
        margin-top: 0px;
    }
}