%dayMode {
    --blue-light: rgb(106, 213, 255);
    --blue-mid: rgb(55, 181, 231);
    --blue-dark: rgb(26, 151, 201);

    --green-light: rgb(18, 121, 9);
    --green-mid: rgb(0, 112, 0);
    --green-dark: rgb(0, 54, 0);

    --yellow-light: #dff800;
    --yellow-mid: #e8ff1a;
    --yellow-dark: hsl(66, 100%, 35%);

    --orange-light: #ffd54c;
    --orange-mid: #ffcb1f;
    --orange-dark: #a07b00;

    --brown-light: #F5AD76;
    --brown-mid: rgb(238, 144, 98);
    --brown-dark: #AA5629;

    --white-light: rgb(255, 255, 255);
    --white-mid: rgb(240, 240, 240);
    --white-dark: rgb(226, 226, 226);

}