%dayMode {
    --blue-light: rgb(106, 213, 255);
    --blue-mid: rgb(55, 181, 231);
    --blue-dark: rgb(26, 151, 201);

    --green-light: rgb(18, 121, 9);
    --green-mid: rgb(0, 112, 0);
    --green-dark: rgb(0, 54, 0);

    --yellow-light: rgb(242, 255, 128);
    --yellow-mid: rgb(232, 255, 26);
    --yellow-dark: rgb(161, 179, 0);

    --brown-light: #9d6439;
    --brown-mid: #6f4a2d;
    --brown-dark: #5C402A;

    --white-light: rgb(255, 255, 255);
    --white-mid: rgb(240, 240, 240);
    --white-dark: rgb(226, 226, 226);

}