%dayMode {
    --blue-light: rgb(106, 213, 255);
    --blue-mid: rgb(55, 181, 231);
    --blue-dark: rgb(26, 151, 201);

    --green-light: rgb(18, 121, 9);
    --green-mid: rgb(0, 112, 0);
    --green-dark: rgb(0, 54, 0);
}