.leaf-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    border-left: none !important;
    border-radius: 100px 0 100px 0;
    transition: 1s ease-out all;
    margin-top: -30px;
    height: 150px;

    background: var(--green-light);
    background: linear-gradient(-45deg, rgba(18, 121, 9, 1) 50%, rgba(0, 135, 8, 1) 50%);

    box-shadow: 2px 10px rgb(0, 0, 0, 0.2);
    transform-origin: bottom left !important;

    &.even {
        margin-left: -150px;
        border-radius: 0 100px 0 100px;
        text-align: end;

        transform-origin: bottom right !important;
        background: linear-gradient(45deg, rgba(18, 121, 9, 1) 50%, rgba(0, 135, 8, 1) 50%);
    }

    &.tulipe {
        margin-top: -130px;
    }

    &.leaftype-leafback{
        background: linear-gradient(-45deg, rgb(7, 49, 3) 50%, rgb(0, 41, 3) 50%);
        &.even{
            background: linear-gradient(45deg, rgb(7, 49, 3) 50%, rgb(0, 41, 3) 50%);}
    }

    &:hover {
        transition: 0.3s;
        rotate: 10deg;
        cursor: grab;
    }

    animation:wind 4s linear infinite;
}