.leaf-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    border-left: none !important;
    border-radius: 100px 0 100px 0;
    transition: 1s ease-out all;
    margin-top: -30px;
    height: 150px;

    background: rgb(18,121,9);
    background: linear-gradient(-45deg, rgba(18,121,9,1) 50%, rgba(0,135,8,1) 50%);

    box-shadow: 2px 10px rgb(0, 0, 0, 0.2);

    &.even{
        margin-left: -150px;
        border-radius: 0 100px 0 100px;
        text-align: end;

        background: linear-gradient(45deg, rgba(18,121,9,1) 50%, rgba(0,135,8,1) 50%);

    }

    &.tulipe{
        margin-top: -130px;
    }

    &:hover{
        transition: 0.3s;
        rotate: 10deg;
        cursor: grab;
    }
}