div.sunflower-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    overflow: hidden;
    max-width: 100%;

    div.pipes {
        width: 100px;
        height: 100px;
        border-radius: 100px;
        background: var(--brown-dark);
        z-index: 100;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        &.top {
            position: absolute;
            cursor: grab;

            &:active{
                cursor: grabbing;
            }
        }

        div.flower {
            position: absolute;

            width: 40px;
            height: 260px;
            background: var(--yellow-mid);

            clip-path: ellipse(55% 50% at 50% 50%);
            transform-origin: center !important;

            background: rgb(232, 255, 26);
            background: linear-gradient(90deg, var(--yellow-mid) 50%, var(--yellow-light) 50%);

            rotate: var(--nFlower);

            animation: wind 4s linear infinite;
        }
    }

    div.branch {
        background: rgb(1, 163, 1);
        background: linear-gradient(23deg, rgba(1, 163, 1, 1) 27%, rgba(0, 112, 0, 1) 27%);
        height: 200px;
        width: 20px;
        margin-top: -50px;
    }
}