<pot>
    <div class="sunflower-container">
        <div class="pipes">
        </div>
        <div class="flower"></div>
        <div class="flower"></div>
        <div class="flower"></div>
        <div class="flower"></div>
        <div class="flower"></div>
        <div class="flower"></div>
        <div class="branch" (click)="sunflowerStart()">
            <div class="leaf"></div>
            <div class="leaf"></div>
        </div>
            <!-- <popcorn class="popCorn" *ngFor="let popcorn  of popcorns" [popCorn]="popcorn"></popcorn> -->
    </div>
</pot>
