@keyframes splash {
    0%{
        position: fixed;
        z-index: 200;
        transform-origin: 50%;

        top: var(--mMax);
        left: var(--lMax);

        opacity: 0.6;
    }

    50%{
        border-radius: 400px;
    }

    
    100%{
        width: 300px;
        height: 300px;
    }
}