<div class="container-search" *ngIf="!firstLoad">
    <input class="seedSearch" placeholder="Busca una planta..." (keyup)="searchSeed($event)">
    <button class="icon dirt" (click)="openSeed()">
        <i class="bi bi-flower1"></i> <span>Plantar</span>
    </button>
</div>

<div class="container-fluid min-container" *ngIf="!firstLoad">
    <div class="row">
        <div class="col-12 col-md-6 col-xl-3" *ngFor="let seed of seedsSearched">
            <!-- <seed-corn *ngIf="seed.type === 'corn'" [seedData]="seed"></seed-corn>
            <seed-sunflower *ngIf="seed.type === 'sunflower'" [seedData]="seed"></seed-sunflower>
            <seed-blueberry *ngIf="seed.type === 'blue'" [seedData]="seed"></seed-blueberry>pkñkñ
            <seed-rose *ngIf="seed.type === 'rose'" [seedData]="seed"></seed-rose> 
            <seed-dragon *ngIf="seed.type === 'dragon'" [seedData]="seed"></seed-dragon>    
            <seed-strawberry *ngIf="seed.type === 'strawberry'" [seedData]="seed"></seed-strawberry>     -->

            <seed-generic [seedData]="seed"></seed-generic>

            <div class="d-grid gap-2"></div>
        </div>
    </div>
</div>

<loading *ngIf="loading"></loading>