<button class="btn btn-primary btn-dirt tiny" (click)="openSeed()">
    <span class="text">Nueva planta</span>
</button>

<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-md-6 col-xl-3" *ngFor="let seed of seeds">
            <!-- <seed-corn *ngIf="seed.type === 'corn'" [seedData]="seed"></seed-corn>
            <seed-sunflower *ngIf="seed.type === 'sunflower'" [seedData]="seed"></seed-sunflower>
            <seed-blueberry *ngIf="seed.type === 'blue'" [seedData]="seed"></seed-blueberry>
            <seed-rose *ngIf="seed.type === 'rose'" [seedData]="seed"></seed-rose> 
            <seed-dragon *ngIf="seed.type === 'dragon'" [seedData]="seed"></seed-dragon>    
            <seed-strawberry *ngIf="seed.type === 'strawberry'" [seedData]="seed"></seed-strawberry>     -->

            <seed-generic [seedData]="seed"></seed-generic>

            <div class="d-grid gap-2"></div>
        </div>
    </div>
</div>

<loading *ngIf="loading"></loading>