.btn-dirt{
    margin: 5px;
}

.delSeed{
    width: fit-content;
    height: fit-content;
    font-size: 1.6em;
    // margin: 0 auto;
    z-index: 300;
    margin-top: -68px;
}

.seedMargin{
    margin-bottom: 15px;
}

.loadingseed-container{
    background: red;
    display: flex;
    width: 100px;
    height: 100px;
}